* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: helvetica;
  font-size: 1em;
  line-height: 1.5;
}
body.app-mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
header {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  align-items: flex-end;
  height: 4em;
  background-color: #2C3640;
  color: #fff;
}
a,
a:visited {
  color:inherit;
  text-decoration: underline;
  cursor:pointer;
}
a:hover,
a:active {
  color:inherit;
  text-decoration: none;
}
.footer-note {
  font-size: 0.8em;
  margin: 0.2em 0 0.2em 1em;
}

input:required:valid {
  outline: 0.1em solid green;
}
input:required:invalid:not(:placeholder-shown),
input:required:invalid:not(:focus):not(:placeholder-shown) {
	  outline: 0.1em solid red;
}
/*chat app module*/
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
/*set lower if needed*/
@media (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

.main-chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #e8e8e8;
  height: 100px;
  width:100%;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  overflow-y: scroll;
  border-top: 0.1em solid #e8e8e8;
  border-bottom: 0.1em solid #e8e8e8;
}

.chat-messageList {
  flex-grow: 1;
}

.chat-messageForm {
  display: flex;
}

p.message {
  padding: 1em;
  width: 80%;
  margin-bottom: 1em;
}

p.message.message-left {
	background-color:#2C3640;
	color:#fff;
}

p.message.message-right {
  background-color: #fff;
  color:initial;
  margin-left: 20%;
}

.message span.message-author {
  font-weight: bold;
}

.chat-messageList > p {
    border: 1px solid #bdbdbd;
    border-top: 0;
    border-left: 0;
}
.chat-messageForm input {
  height: 2.8em;
  padding: 0 0.2em 0 0.2em;
  margin-right: 0.3rem;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-top: 0;
  border-left: 0;
}
.chatForm-user {
  max-width: 6em;
}
.chatForm-message {
  flex-grow: 2;
}
button.chatForm-send {
  height: 2.8em;
  padding: 0 0.5em;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #bdbdbd;
  border-top: 0;
  border-left: 0;
  margin-bottom:1em;
}
button.chatForm-send:hover,
button.chatForm-send:active {
  background-color: #000;
  color: #fff;
}
/*end of chat app module*/
